.ingredients_header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.ingredients {
    float: right;
    padding: 0px 20px 20px 20px;
    margin-left: 20px;
    background-color: var(--secondary-color);
}

.sr_only_header {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media only screen and (max-width: 600px) {
    .ingredients {
        float: none;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 0;
    }
}