.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  opacity: 0.75;
  margin: 5px;
  padding: 0;
}

.categoryCard img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
  filter: grayscale(80%);
}

.categoryCard p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
   text-transform: uppercase;
}

.categoryCard img:hover {
  transform: scale(1.001);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 4px solid var(--secondary-highlight-color);
  filter: grayscale(0%);
}

.categoryCard.selected {
  opacity: 1;
}

.categoryCard.selected img {
  border: 4px solid var(--highlight-color);
  filter: grayscale(0);  
}