
# Ida
Ida Brattøy Ustad <idabus@stud.ntnu.no> Ida Brattøy Ustad <idabus@stud.ntnu.no>

# Arild
Arild Gustad <arildgus@stud.ntnu.no> Arild Gustad <arildgus@stud.ntnu.no>

# Gina
Gina Elisabeth Bjøralt Giske <gegiske@stud.ntnu.no> Gina Elisabeth Bjøralt Giske <gegiske@stud.ntnu.no>
Gina Elisabeth Bjøralt Giske <gegiske@stud.ntnu.no> gegiske <gegiske@stud.ntnu.no>

# Ingvild
Ingvild Kirkaune Sandven <ingviksa@stud.ntnu.no> Ingvild Kirkaune Sandven <ingviksa@stud.ntnu.no>
Ingvild Kirkaune Sandven <ingviksa@stud.ntnu.no> Ingvild Sandven <ingviksa@stud.ntnu.no>