.comment_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.comment_section h2 {
    margin: 0;
}

.comment_section h3 {
    padding-top: 10px;
}

.comment_container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
}

.comment {
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    width: 95%;
    justify-content: center;
}

.comment_header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment h4 {
    margin: 5px 15px;
}

.comment_date {
    text-align: right;
}

.comment p {
    margin: 5px 15px;
}