.footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.footer p {
    margin: 0px;
    padding: 0px;
    font-weight: thin;
}