.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  gap: 0;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px 0px 0px 6px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.searchInput:focus {
  border-color: var(--secondary-highlight-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.searchContainer button {
  padding: 0.6rem 1rem;
  border: none;
    font-size: 1rem;
  background-color: var(--highlight-color);
  color: white;
  font-weight: bold;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Elms Sans";
}

.searchContainer button:hover {
  background-color: var(--secondary-highlight-color);
  color: var(--font-color);
}

.feedback{
  min-height: 66vh;
}