.navbar {
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.desktopNavContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 101;
}

.linklist {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--highlight-color);
}

.linklist li {
  margin-right: 20px;
}

.sidebar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 60px 0px 0px 0px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--highlight-color);
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid var(--highlight-color);
  transform: translateY(0);
  transition: all ease-in 0.4s;
  z-index: 10;
}

.sidebarClosed {
  transform: translateY(-77px);
  transition: all ease-in 0.4s;
}

button {
  background: none;
  border: none;
  height: 100%;
  width: 100;
}

.sidebar li {
  padding: 10px;
  text-align: center;
  width: 30vw;
  border-bottom: 2px solid var(--highlight-color);
}

.sidebar li:last-of-type {
  border: none;
}

.link {
  text-decoration: none;
  color: var(--highlight-color);
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: var(--font-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  min-width: 150px;
  width: 20vw;
  max-width: 250px;
}



@media (min-width: 700px) {
  .menuButton {
    display: none !important;
  }

  .linklist li {
    display: inline;
    list-style-type: none;
  }
}

@media (max-width: 700px) {
  .hideOnMobile {
    display: none;
  }

  .hideOnDesktop {
    display: flex;
  }
}
